<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

<welcome-file-list>  
   <welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>  
  </welcome-file-list>

<filter>  
<filter-name>SessionValidationFilter</filter-name>  
<filter-class>com.campusnetwork.filters.SessionValidationFilter</filter-class>
</filter>  
   
<filter-mapping>  
<filter-name>SessionValidationFilter</filter-name>  
<url-pattern>/entry/*</url-pattern>  
</filter-mapping>

  <servlet>
  <servlet-name>spring</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <load-on-startup>0</load-on-startup>  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>spring</servlet-name>
  <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jspf</url-pattern>
      <el-ignored>false</el-ignored>
      <is-xml>false</is-xml>
    </jsp-property-group>
  </jsp-config>
  
</web-app>